h2{
    display: inline-block;
}

.card {
    align-items: center;
    height: 150px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgb(95, 85, 85);
    margin-top: 20px;
}